.offcanvas.offcanvas-end{
    right: 0 !important;
    left: auto !important;
    transform: translateX(100%) !important;
}

span.phone_topbar {
    font-size: 16px;
}

a.dropdown-item {
    text-align: start;
}

#scroll{
    left: 10px;
    right: auto !important;
}

.play-button{
    left: 45%;
}

@media screen and (max-width: 700px) and (min-width: 230px) {

    .play-button h3{
        justify-content: center;
    }
}

.position_section_2{
    right: 51%;
    left: auto !important;
}

.position_image {
    left: 35px;
    right: auto !important;
}

.form-group label{
    right: 30px;
    left: auto !important;
}