@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

p {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

li {
    list-style: none;
}

.dropdown-menu>li>a:hover {
    color: #262626 !important;
}

.color_fixed_one {
    color: #002f4b;
}

.color_fixed_tow {
    color: #ff6600;
}

.color_fixed_three {
    color: #5f8dc2;
}

.color_fixed_four {
    color: #2c6db3;
}

.color_fixed_five {
    color: #df9311;
}

#color_fixed_one {
    color: #002f4b;
}

#color_fixed_tow {
    color: #ff6600;
}

#color_fixed_three {
    color: #5f8dc2;
}

#color_fixed_four {
    color: #2c6db3;
}

#color_fixed_five {
    color: #df9311;
}

/* class font family */
.tajawal_extralight {
    font-family: "Tajawal", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.tajawal_light {
    font-family: "Tajawal", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.tajawal_regular {
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tajawal_medium {
    font-family: "Tajawal", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.tajawal_bold {
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.tajawal_extrabold {
    font-family: "Tajawal", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.tajawal_black {
    font-family: "Tajawal", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* class font family */

.navbar-nav {
    margin: 0;
    float: none;
}

.offcanvas-backdrop {
    background-color: #00000059 !important;
}

.row {
    margin: auto !important;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding: 0 !important;
}

@media (max-width: 768px) {
    .control-round .carousel-control {
        display: block !important;
        opacity: 1 !important;
    }
}

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    color: white;
    z-index: 10000;
    transition: opacity 1s ease;
}

#loading_page.hidden,
#loading-screen.hidden {
    opacity: 0;
    display: none;
    visibility: hidden;
}

.top-bar {
    background-color: #1847a1;
    padding: 5px 0;
}

.social-icons a {
    margin: 0 5px;
    color: #007bff;
}

.social-icons a:hover {
    color: #0056b3;
}

.nav_item_responsive {
    flex-direction: row !important;
    justify-content: space-evenly !important;
}

.navbar-nav .dropdown-menu {
    position: absolute !important;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    width: 100%;
    background-color: #002f4b !important;
}

.dropdown-menu>li>a {
    color: #fff !important;
}

.navbar {
    position: absolute;
    z-index: 100;
    height: 85px;
    width: 100%;
    background-color: #00000014;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: rgb(0 47 75) !important;
    text-decoration: underline;
}

.offcanvas .navbar-nav .nav-link.active,
.offcanvas .navbar-nav .nav-link.show {
    color: rgb(255 102 0) !important;
}

.nav-link {
    color: white !important;
}

.navbar .container-fluid {
    position: relative;
    height: 100%;
}

.header_opend {
    width: 25%;
    height: 100%;
}

.header_opend img {
    width: 60%;
    height: 100%;
}

.navbar-brand {
    padding: 0 !important;
    margin: 0 !important;
}

/* @media screen and (max-width: 453px) and (min-width: 230px) {
            .header_opend {
                width: 50% !important;
            }
        } */

@media screen and (max-width: 745px) and (min-width: 453px) {
    .header_opend {
        width: 30%;
    }
}

@media screen and (max-width: 994px) and (min-width: 759px) {
    .header_opend img {
        width: 50%;
    }
}

@media screen and (max-width: 758px) and (min-width: 250px) {
    .header_opend img {
        width: 60%;
    }
}

@media screen and (max-width: 994px) and (min-width: 250px) {
    .header_opend {
        width: 80%;
    }

    .nav_item_responsive,
    .display_none {
        display: none !important;
    }

    .navbar-toggler {
        width: 20%;
        display: block !important;
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-nav .dropdown-menu {
        position: static !important;
    }

    .navbar {
        position: fixed;
        z-index: 3000;
    }

    .offcanvas-body {
        height: 270px;
        overflow-Y: scroll;
    }
}

@media screen and (max-width: 400px) and (min-width: 250px) {
    .header_opend img {
        width: 75%;
    }
}

.offcanvas-header {
    height: 100px;
}

.sidebar_opend,
.sidebar_opend img {
    height: 100%;
}

.offcanvas.offcanvas-end {
    background-color: #002f4b !important;
    left: 0;
    right: auto !important;
    transform: translateX(-100%) !important;
}

.offcanvas.show:not(.hiding),
.offcanvas.showing {
    transform: none !important;
}

.navbar-toggler-icon {
    background-image: none !important;
}

.navbar-toggler-icon .fa-solid.fa-bars {
    font-size: 35px;
    color: #002f4b;
    transition: 1s;
}

.navbar-toggler-icon .fa-solid.fa-bars:hover {
    color: #ff6600 !important;
}

.offcanvas-body {
    padding: 2%;
}

.btn-close {
    border: solid white 3px;
    background-color: white;
}

.container_tag {
    width: 100%;
}

.bg-orange {
    background-color: #ff6600;
}

.coniction_style {
    width: 70%;
    background-color: #002f4b;
    align-items: center;
    justify-content: flex-start;
}

.conictionLink_style {
    width: 30%;
    justify-content: space-between;
}

.display_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.phone_topbar {
    font-size: 12px;
}

@media screen and (max-width: 770px) and (min-width: 230px) {
    .navbar {
        position: fixed;
    }

    .coniction_style {
        width: 50% !important;
    }

    .conictionLink_style {
        width: 50% !important;
    }

    .offcanvas-body {
        height: 270px;
        overflow-Y: scroll;
    }

    .label-fullName {
        top: 6% !important;
    }

    .label-email {
        top: 22% !important;
    }

    .label-subject {
        top: 39% !important;
    }

    .label-message {
        top: 56% !important;
    }

    .contact-card form .btn {
        padding: auto !important;
        width: 100%;
    }
}

@media screen and (max-width: 506px) and (min-width: 230px) {
    .coniction_style {
        width: 55% !important;
    }

    .conictionLink_style {
        width: 40% !important;
    }

    span.phone_topbar {
        font-size: 12px;
    }
}

.hero_bg {
    width: 100%;
    height: auto;
}

.style_width {
    width: 19%;
    margin: 0 6px;
    transition: 1s;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    .style_width {
        width: 30%;
    }
}

@media screen and (max-width: 699px) and (min-width: 500px) {
    .style_width {
        width: 40%;
    }
}

@media screen and (max-width: 499px) and (min-width: 250px) {
    .style_width {
        width: 70%;
    }
}

.style_width p,
.style_width h5 {
    color: black;
}

.style_width {
    background: linear-gradient(white, white 50%, #ff6600 50%, #ff6600);
    background-size: 100% 200%;
    transition: background 1s;
}

.style_width:hover {
    background-position: 100% 100%;
}

.style_before_bg {
    width: 100%;
    height: 100px;
    margin: 6% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

img.style_bg_before {
    position: relative;
    width: 90px;
    height: 90px;
}

.style_before_bg::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    height: 123px;
    background-color: #d6f0f1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 2%;
    z-index: 0;
}

.update_style_col {
    width: 40%;
    top: -50px;
}

.update_style_inside {
    width: 70%;
    left: -30px;
    height: 100%;
}

@media screen and (max-width: 767px) and (min-width: 230px) {
    .update_style_col {
        width: 100%;
        top: -100px;
    }

    .update_style_inside {
        left: -15px;
        width: 85%;
    }

    .update_animation_1 img {
        width: 100%;
    }

    .update_animation_2 {
        height: 240px !important;
        bottom: 149px !important;
    }
}

.update_animation_1,
.update_animation_2 {
    position: relative;
    overflow: hidden;
}

.update_animation_2 {
    width: 100%;
    height: 190px;
    bottom: 118px;
}

.update_animation_1::before,
.update_animation_2::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: none;
    content: '';
    width: 70%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
}

.update_animation_1:hover::before,
.update_animation_2:hover::before {
    display: block;
    animation: shine .40s;
}

@keyframes shine {
    100% {
        left: 35%;
    }
}

/* cards bootstrab */

.ag-format-container {
    margin-bottom: -10%;
}

.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
}

.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    box-shadow: wheat 0 0 10px 5px;
    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    overflow: hidden;
    position: relative;
}

.div_link_url {
    width: 100%;
    height: 50px;
    position: relative;
}

a.link_url {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fe904b;
    align-items: center;
    justify-content: center;
    border-radius: 2.5rem;
    color: #002f4b;
    transition: 1s;
}

.ag-courses-item_link:hover .link_url {
    background-color: #043f61;
    color: #fe904b;
    text-decoration: none;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date,
.ag-courses-item_link:hover .ag-courses-item_title,
.ag-courses-item_link:hover .ag-courses-item_date-box {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_img img,
.ag-courses-item_link:hover .ag-courses-item_img::after {
    border-radius: 5rem;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: black;
    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #f9b234;
    z-index: 2;
    position: relative;
}

.ag-courses-item_img {
    height: 200px;
    width: 100%;
    position: relative;
}

.ag-courses-item_img::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.233);
    z-index: 10;
    transition: 0.5s;
}

.ag-courses-item_img img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #002f4b;
    z-index: 0;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #ff6600;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #5f8cba;
}

@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;
        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}

/* cards bootstrab */

/* Sections vedio and Fun Fact */

.video-section {
    padding: 0 75px;
    margin: 20px;
    border-radius: 8px;
}

.video-section {
    position: relative;
    margin-top: 7%;
    z-index: 1;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

.fun-fact-section {
    position: relative;
    background-color: #000;
    width: 100%;
    margin-top: -3%;
}

.bg_section_text {
    position: relative;
    height: 400px;
}

.position_section {
    height: 100%;
    align-content: center;
    color: white !important;
}

.position_section_1 {
    height: 75%;
    position: absolute;
    top: 20%;
    width: 50%;
}

.position_section_2 {
    height: 80%;
    position: absolute;
    left: 51%;
    top: 13%;
    width: 50%;
}

.inner_parents_1 {
    height: 100%;
    align-content: center;
}

.inner_parents_2 {
    height: 100%;
    text-align: center;
    align-content: center;
}

.content_fun_fact {
    padding: 5%;
    line-height: 50px;
}

@media screen and (max-width: 800px) and (min-width: 230px) {
    .play-button {
        width: 100%;
        left: 0 !important;
    }

    .bg_section_text {
        height: auto !important;
    }

    i.fa-solid.fa-play {
        padding: 5% !important;
        margin-bottom: 5%;
    }

    .position_section {
        padding: 5% 0;
    }

    .position_section_1,
    .position_section_2 {
        position: static;
        width: 100% !important;
    }

    .position_section_2 {
        margin-top: 5%;
    }

    .inner_fun_fact {
        margin-bottom: 3%;
        margin-left: auto !important;
    }

}

.fun-fact-section::before {
    position: absolute;
    content: "";
    background-image: url(../image/bg_pattern_sectionText.jpg);
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.inner_fun_fact {
    background-color: #31313136;
    margin-left: 5%;
    margin-bottom: 5%;
}

.img_like_icons img {
    transition: 0.5s;
}

.inner_fun_fact .content_fun_fact:hover img {
    transform: scale(-1) rotate(180deg);
}

.video-thumbnail {
    position: relative;
    width: 100%;
}

.video-thumbnail::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 490px;
    background-color: rgba(0, 0, 0, 0.267);

}

.video-thumbnail img {
    width: 100%;
    height: 490px;
}

.play-button {
    text-align: center;
    position: absolute;
    height: 120px;
    top: 45%;
    left: 40%;
    font-size: 48px;
    color: white;
    padding: 10px;
}

#play_button {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

i.fa-solid.fa-play {
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 9%;
}

.play-button h3 {
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000eb;
}

.modal-content {
    background-color: #002f4b;
    margin: 15% auto;
    padding: 20px;
    width: 90%;
    border-radius: 8px;
}

.close_vedio {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 993px) and (min-width: 230px) {
    .video-section {
        padding: 15px;
    }

    .modal-content {
        height: 100%;
    }

    .video {
        height: 100% !important;
    }
}

.close_vedio:hover,
.close_vedio:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Sections vedio and Fun Fact */

/* call us */
.contact_cull {
    width: 100%;
}

.contact-card {
    background: linear-gradient(to right, #ffa600, #ff6600);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.contact-card .contact-text h2,
.contact-card .contact-text h1 {
    color: #000;
    font-weight: bold;
}

.contact-card .contact-text h2 {
    font-size: 1.25rem;
}

.contact-card .contact-text h1 {
    font-size: 2rem;
}

.contact-card form {
    position: relative;
    z-index: 500;
    background-color: white;
    padding: 4%;
}

.contact-card form .form-control {
    background-color: #f1f1f1;
    border: none;
    padding: 15px;
    margin-bottom: 15px;
    color: #002f4b;
}

.form-control:focus {
    box-shadow: inset 0 1px 1px #002f4b, 0 0 8px #2c6db3 !important;
}

/* Default label styles start */
label {
    position: absolute;
    left: 30px;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Styles for specific labels */
.label-fullName {
    top: 9%;
}

.form-control:focus+.label-fullName {
    top: 2% !important;
    left: 25px;
    font-size: 12px;
}

.label-email {
    top: 23%;
}

.form-control:focus+.label-email {
    top: 17% !important;
    left: 25px;
    font-size: 12px;
}

.label-subject {
    top: 38%;
}

.form-control:focus+.label-subject {
    top: 31% !important;
    left: 25px;
    font-size: 12px;
}

.label-message {
    top: 52%;
}

.form-control:focus+.label-message {
    top: 45% !important;
    left: 25px;
    font-size: 12px;
}

/* Default label styles end */

.position_image {
    position: absolute;
    height: 450px;
    right: 35px;
    top: 4.5%;
    z-index: 1;
}

img.background-image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1200px) and (min-width: 230px) {
    .position_image {
        display: none;
    }
}

.contact-card form .btn {
    background-color: #ff6600;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.8s;
}

.contact-card form .btn:hover {
    background-color: #002f4b;
}

/* call us */

/* style server&aboutus&contact&detailsServices page */
.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.server_section {
    height: 100vh;
    background-image: url('../image/slide3.jpg');
    background-size: cover;
    background-position: center;
}

.contact_section {
    height: 100vh;
    background-image: url('../image/slide3.jpg');
    background-size: cover;
    background-position: center;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* نصف شفاف للتظليل */
    z-index: 1;
}

.hero-section .auto-container {
    position: relative;
    z-index: 2;
}

.text_bg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_addrees {
    color: #ff6600;
    font-size: 85px;
}

.link_item,
.text_bg_pages {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 35px;
}

.link_item {
    color: #002f4b;
}

.link_item:focus,
.link_item:hover {
    color: #5e8ebf;
    text-decoration: none !important;
}

.text_bg_pages {
    color: #ff6600;
}

@media screen and (max-width: 770px) and (min-width: 230px) {
    .text_addrees {
        font-size: 65px;
    }
}

.row_one,
.row_two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.service_card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
    width: 250px;
    height: 400px;
    cursor: pointer;
}

.inner_box_server {
    position: relative;
    height: 100%;
}

.inner_box_server::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #ff6600;
}

.div_image_services {
    width: 100%;
    height: 100%;
}

.inner_box_server img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service_card:hover {
    transform: translateY(-10px);
    background-color: #ffcc00;
}

.content_box_services_text {
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 20px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
    padding: 0px 0px;
    transition: all 200ms ease;
}

.titel_box_ser {
    padding: 9%;
    background-color: #fff;
    color: #a97176;
    font-size: 22px;
    margin: 0;
}

.style_box_icon {
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 55px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6600;
    padding: 2%;
    font-size: 20px;
}

.hover_content_services .style_box_icon {
    opacity: 0;
    transition: 300ms;
    transform: translateY(20px);
    display: none;
    left: 0;
}

.hover_content_services .titel_box_ser {
    opacity: 0;
    transition: 400ms;
    transform: translateY(20px);
    display: none;
    background: none;
}

.hover_content_services .text_box_ser {
    opacity: 0;
    transition: 500ms;
    transform: translateY(20px);
    display: none;
}

.hover_content_services {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 35px 30px 20px;
    z-index: 2;
    opacity: 0;
    display: none;
    visibility: hidden;
    transform: scaleY(0);
    transition: all 300ms ease;
    transform-origin: bottom;
}

.inner_box_server:hover .hover_content_services {
    display: block;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.inner_box_server:hover .hover_content_services .style_box_icon {
    opacity: 1;
    transform: translate(0);
    display: flex;
    bottom: 0 !important;
}

.inner_box_server:hover .hover_content_services .titel_box_ser {
    opacity: 1;
    transform: translate(0);
    display: block;
    color: white;
}

.inner_box_server:hover .hover_content_services .text_box_ser {
    opacity: 0.7;
    transform: translate(0);
    display: block;
    color: white;
}

.inner_box_server:hover .content_box_services_text {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.hover_content_services::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0e0f11;
    opacity: 0.9;
    content: "";
    border-bottom: 4px solid #ff6600;
}

.service-title {
    padding: 15px;
    font-size: 1.1em;
}

#toggle-lang {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggle-lang:hover {
    background-color: #0056b3;
}

#server_section_informatios,
#cullAndContact {
    margin: 5% 0;
}

.form_container {
    display: flex;
    background-color: #002f4b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    flex-direction: row-reverse;
}

.contact_info,
.contact_form {
    flex: 1;
    padding: 20px;
}

.contact_info {
    border-right: 1px solid #ddd;
}

.contact_form {
    border-left: 1px solid #ddd;
}

.info-list {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}

.info-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.style_icons_contact {
    background-color: #fe904f;
    padding: 2%;
    font-size: 20px !important;
    color: white !important;
}

.info-list li i {
    margin-right: 10px;
    margin-bottom: 1%;
}

.input_group {
    display: flex;
    justify-content: space-between;
}

.input_group input {
    width: 48%;
}

.contact_form input,
.contact_form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact_form button {
    padding: 10px 20px;
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact_form button:hover {
    background-color: #2c6db3;
}

@media screen and (max-width: 770px) and (min-width: 320px) {
    .form_container {
        display: block !important;
        width: 100%;
        box-shadow: 0 0 4px 3px yellow;
    }
}

section.googleMaps {
    width: 100%;
}

section.googleMaps iframe {
    width: 100%;
}

.section_tabs_details {
    margin: 5% 0;
}

.style_fluid_new {
    padding: 3% 5%;
}

.custom-sidebar {
    padding-right: 5% !important;
    padding-left: 0% !important;
}

.service_details_help {
    position: relative;
    display: block;
    padding: 55px 15px 55px;
    margin-top: 30px;
    text-align: center;
    z-index: 1;
    background-color: #002f4b;
    border-radius: 15px;
    overflow: hidden;
}

.help-shape-1 {
    position: absolute;
    bottom: -100px;
    left: -95px;
    width: 220px;
    height: 500px;
    background-color: #fe9250;
    mix-blend-mode: soft-light;
    border-radius: 150px;
    transform: rotate(45deg);
    z-index: -1;
}

.help-shape-2 {
    position: absolute;
    top: -32px;
    right: -50px;
    width: 180px;
    height: 425px;
    background-color: #5f90c4;
    mix-blend-mode: soft-light;
    transform: rotate(48deg);
    z-index: -1;
}

.help-icon {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span_help_icon {
    background-color: black;
    border-radius: 50%;
    width: 40%;
    height: 100%;
    cursor: pointer;
    transition: 1s;
}

@media screen and (max-width: 770px) and (min-width: 230px) {
    .span_help_icon {
        width: 15% !important;
    }
}

.span_help_icon:hover {
    background-color: rgba(0, 0, 0, 0.404);
}

i.fas.fa-phone {
    font-size: 30px;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.help-title,
.help-contact p,
.help-contact a {
    color: white;
}

.help-contact a:hover {
    color: #d7936a;
}

.download-button {
    width: 85%;
    height: 50px;
    margin: 0 8%;
}

.download_button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #002f4b !important;
    color: white !important;
    outline: none;
    border: none;
    position: relative;
    z-index: 5;
}

.download_button::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    background-color: #ff6600 !important;
    border-radius: 4px;
    transition: 0.7s;
    z-index: -1;
}

.download_button:hover::before {
    width: 100%;
}

.button_tabs_inside {
    color: black !important;
    background-color: #f5faff;
    border-radius: 15px !important;
    margin-bottom: 5%;
    box-shadow: 0 0 8px 0px #c6d8e9;
}

.button_tabs_inside.active {
    color: rgb(255, 255, 255) !important;
    background-color: #002f4b !important;
}

.accordion-button::after {
    content: '\002B';
    font-size: 18px;
    background-image: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.accordion-button.collapsed::after {
    content: '\2212';
    font-size: 18px;
    background-image: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.accordion-button {
    background-color: #ff6600 !important;
    color: white !important;
    font-size: 20px;
    justify-content: space-between;
}

.accordion-button.collapsed {
    background-color: #002f4b !important;
    color: #fff !important;
    font-size: 20px;
}

.accordion-button:focus {
    border: 0.5px solid #002f4b !important;
    box-shadow: #002f4b 0 0 6px 2px !important;
}

.exp-box {
    height: 170px;
    width: 303px;
    position: absolute;
    top: 25%;
    left: 10px;
    background-image: url(../image/box_inner_picture.png);
}

@media screen and (max-width: 550px) and (min-width: 230px) {
    .exp-box {
        display: none;
    }

    .image-overlay {
        width: 95% !important;
        bottom: -40px !important;
    }
}

.exp-box .inner {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

img.image_box_picture {
    width: 45%;
}

.exp-box .inner_box_picture {
    width: 50%;
}

.exp-box .count {
    font-size: 40px;
    font-weight: 600;
}

.exp-box .text {
    font-size: 18px;
}

.help_responsive {
    display: block !important;
    line-height: 29px;
}

.section_portfolio {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.help_styles_image_small {
    position: relative;
    width: 35%;
}

.help_styles_image_small::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 2px;
    background: linear-gradient(to top, #18191c, #ff6600);
    border-radius: 50%;
    z-index: -1;
}

.help_style_image {
    border: 5px solid #fff;
    padding: 4%;
    width: 100%;
    height: 100%
}

.parient_div_text {
    width: 60%;
}

.images-container {
    position: relative;
    margin-bottom: 20px;
}

.image-main,
.image-overlay {
    width: 100%;
    border-radius: 5px;
}

.image-overlay {
    position: absolute;
    bottom: 10px;
    left: -10%;
    width: 80%;
}

.text-section {
    padding: 20px;
}

@media screen and (max-width: 2652px) and (min-width: 768px) {
    .section_col_text {
        padding-right: 3% !important;
    }
}

.team_boxs_event .inner_boxs {
    position: relative;
    padding-bottom: 30px;
}

.team_boxs_event .info_boxs {
    position: relative;
    padding: 35px 20px 30px;
    text-align: center;
}

.team_boxs_event .info_boxs .cards_titles {
    position: relative;
    margin-bottom: 7px;
    z-index: 2;
    color: #ffffff;
    font-size: 30px;
}

.team_boxs_event .info_boxs .cards_texts {
    position: relative;
    display: block;
    font-size: 17px;
    text-transform: capitalize;
    z-index: 2;
    line-height: 1em;
    transition: 400ms;
    color: #6f7174;
}

.team_boxs_event .info_boxs::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 385px;
    background-color: #002f4b;
    width: 100%;
    border-radius: 20px;
    content: "";
    transition: 300ms;
}

.team_boxs_event .info_boxs::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    height: 0;
    content: "";
    border-radius: 20px;
    transition: 300ms;
    background-color: #ff6600;
}

.team_boxs_event .inner_boxs:hover .info_boxs::after {
    height: 385px;
}

.image_boxs {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 20px;
}

.image_boxs a {
    width: 100%;
    height: 100%;
    display: flex;
}

img.card_img_top {
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
}

.inner_boxs .social_links {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 45px;
    padding: 15px 0;
    margin: 0 auto 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 54px;
    background-color: #18191c;
    transform: scaleY(0);
    transform-origin: bottom;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
    transition: 400ms;
}

.inner_boxs:hover .social_links {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}

.inner_boxs .social_links a {
    color: white;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    margin-bottom: 5%;
    transition: 300ms;
}

.inner_boxs .social_links a:hover {
    background-color: #002f4b;
    color: #ff6600;
}

.inner_boxs .social_links a i {
    font-size: 18px;
}

.team_boxs_event .button_hover_links {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    color: #18191c;
    background-color: #fec63f;
    transition: all 300ms ease;
    z-index: 3;
    border-radius: 50%;
}

.team_boxs_event .button_hover_links::before {
    content: '\002B';
    font-size: 35px;
}

.server_about .titel_box_ser {
    padding: 6% !important;
}

/* style server&aboutus&contact&detailsServices page */

/* slider testimonial-card */
#testimonialCarousel {
    margin: 2% 0;
}

.testimonial_card {
    width: 100%;
    margin: 15px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.content_boxs_timonial {
    position: relative;
    background-color: #fff;
    padding: 35px 40px 40px;
    background-image: url(../image/slider_boxs_three.png);
    background-position: right top;
    background-repeat: no-repeat;
}

.timonial_text {
    position: relative;
    font-size: 16px;
    line-height: 30px;
}

.content_boxs_timonial::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, #18191c, #fec63f);
    height: 6px;
    content: "";
}

.content_boxs_timonial::after {
    position: absolute;
    left: 20px;
    top: 100%;
    clip-path: polygon(31% 100%, 0 0, 100% 0);
    background-color: #28251f;
    height: 23px;
    width: 54px;
    content: "";
}

.timonial_info_boxs {
    position: relative;
    margin-left: 10px;
    min-height: 96px;
    margin-top: 30px;
    padding-left: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rating_timonial {
    position: relative;
    font-size: 12px;
    z-index: 2;
    color: #fec63f;
}

.contant_img_clinte {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 96px;
    height: 96px;
    border: 5px solid #fff;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.img_clintes {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* .carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 5rem;
    height: 4rem;
    position: relative;
}

span.carousel-control-next-icon::before,
span.carousel-control-prev-icon::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #002f4b;
    border-radius: 2.5rem;
    z-index: -1;
} */

/* slider testimonial-card */

/* crads pricing */
.section_pricing_plan {
    background-color: #f0f0f0;
}

.pricing-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pricing-card {
    background-color: #002f4b;
    color: #fff;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.8s;
}

.pricing-card:hover {
    transform: translateY(-10px);
    background-color: #ff6600;
}

.card-icon {
    font-size: 50px;
    margin-bottom: 20px;
}

.card-icon i {
    transition: 1s;
}

.pricing-card:hover .card-icon i {
    transform: rotate(180deg) scale(-1);
    color: #002f4b;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-price {
    font-size: 36px;
    margin-bottom: 10px;
}

.card-price span {
    font-size: 16px;
    vertical-align: super;
}

.card-features {
    list-style: none;
    margin-bottom: 20px;
}

.card-features li {
    margin: 10px 0;
}

.choose-plan {
    background-color: #ff6600;
    color: #002f4b;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 1.2s;
}

.pricing-card:hover .choose-plan {
    background-color: #002f4b;
    color: #ff6600;
}

/* Responsive Design */
@media (max-width: 768px) {
    .pricing-card {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .pricing-card {
        width: 100%;
    }
}

/* crads pricing */

/* section faqs */
section.section_faqs {
    padding: 6% 4%;
}

/* section faqs */

/* portfolio section style */
.section_cards_portfolio {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0 2%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.inner_boxs_portfolio {
    position: relative;
    overflow: hidden;
}

.images_boxs_portfolio {
    position: relative;
    overflow: hidden;
    transition: all 300ms ease;
}

.content_boxs_portfolio {
    position: absolute;
    left: -20px;
    bottom: 0;
    padding: 40px 40px 30px;
    padding-left: 50px;
    z-index: 3;
    max-width: 280px;
    min-height: 250px;
    opacity: 0;
    display: none;
    visibility: hidden;
    transition: 3s;
}

.content_boxs_portfolio::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    left: -120px;
    width: 400px;
    content: "";
    opacity: 0.9;
    border-radius: 30px 90px 20px 30px;
    transform: skew(-22deg);
    background-color: #fec63f;
    transition: 1.2s;
}

.link_go_Details_portfolios {
    position: relative;
    display: block;
    height: 48px;
    width: 48px;
    font-size: 16px;
    color: #ffffff;
    background-color: #18191c;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 35px;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 300ms ease;
}

.inner_boxs_portfolio:hover .link_go_Details_portfolios {
    opacity: 1;
    transform: translate(0);
    transition-delay: 300ms;
}

.titel_elements {
    color: #18191c;
    margin-bottom: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 300ms ease;
}

.inner_boxs_portfolio:hover .titel_elements {
    opacity: 1;
    transform: translate(0);
    transition-delay: 400ms;
}

.inner_boxs_portfolio:hover .content_boxs_portfolio {
    opacity: 1;
    display: block;
    left: 0;
    visibility: visible;
}

.icon_portfolio {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* portfolio section style */

/* details portfolio style */
section.section_detailes {
    margin: 5% 10%;
}

@media screen and (max-width: 770px) and (min-width: 230px) {
    .section_detailes {
        margin: 5% 0 !important;
    }
}

.project-header {
    position: relative;
    text-align: center;
    color: white;
    background-color: #f0f0f0;
}

.content_image_boxs_portfolio {
    height: 500px;
}

.content_image_boxs_portfolio img {
    width: 100%;
    height: 100%;
}

.overlay {
    width: 50%;
    height: 200px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgb(255 102 0);
    color: #002f4b;
    padding: 20px;
    border-radius: 5px;
}

@media screen and (max-width: 530px) and (min-width: 230px) {
    .overlay {
        width: 90%;
        bottom: -10%;
    }
}

.overlay-content {
    width: 100%;
    height: 100%;
}

.overlay-content p {
    margin: 15px 0;
    font-size: 17px;
}

.style_span_privet {
    font-size: 20px;
}

.overlay-content a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.overlay-content a:hover {
    text-decoration: underline;
}

.project-details {
    padding: 40px 20px;
    background-color: #fff;
}

.project-details h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.project-details p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.nav-button {
    background-color: #002f4b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #f60;
}

/* details portfolio style */

/* product style */
.section_products_boxs {
    margin: 5% 10%;
}

@media screen and (max-width: 770px) and (min-width: 230px) {
    .section_products_boxs {
        margin: 5% 0 !important;
    }

    .section_products_boxs .order-form {
        margin: 2% 0 !important;
    }
}

.product-grid {
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content_image_product {
    height: 300px;
}

.product-card img {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-card .price-before {
    color: red;
    text-decoration: line-through;
    margin-bottom: 10px;
}

.product-card .price-after {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-card .quantity {
    margin-bottom: 15px;
}

.product-card button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #002f4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #ff6600;
}

.models_orders {
    position: fixed;
    height: 1000px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}

.models_orders::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 1000px;
    z-index: 5000;
    background: #000000de;
}

.opject_model_order {
    position: fixed;
    top: 5%;
    width: 75%;
    left: 14%;
    z-index: 10000;
    margin: 2% 0% !important;
}

@media screen and (max-width: 530px) and (min-width: 230px) {
    .opject_model_order {
        width: 95%;
        left: 0;
        margin: 2% 5% !important;
    }
}

.section_products_boxs .order-form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 2% 23.5%;
}

.section_products_boxs .order-form h3 {
    margin-bottom: 20px;
}

.section_products_boxs .order-form form {
    display: flex;
    flex-direction: column;
}

.section_products_boxs .order-form label {
    margin-bottom: 5px;
    position: relative;
    left: auto;
}

.section_products_boxs .order-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section_products_boxs .order-form button {
    padding: 10px;
    background-color: #002f4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section_products_boxs .order-form button:hover {
    background-color: #ff6600;
}

/* product style */

/* details product style */

.section_product_details {
    margin: 5% 10%;
}

@media screen and (max-width: 770px) and (min-width: 230px) {
    .section_product_details {
        margin: 5% 0 !important;
    }

    .section_product_details .order-form {
        margin: 2% 0 !important;
    }
}

.tabs {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.tab-link {
    background-color: #002f4b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-link:hover,
.tab-link.active {
    background-color: #f60;
}

.tab-content {
    display: none;
}

.product-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #002f4ba8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.product-info {
    max-width: 600px;
    width: 100%;
}

.product-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.product-info p {
    margin-bottom: 10px;
    color: white;
}

.product-info .price-before {
    color: white;
    text-decoration: line-through;
}

.product-info .price-after {
    color: white;
    font-weight: bold;
}

.order-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #002f4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.order-btn:hover {
    background-color: #f60;
}

.section_product_details .order-form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 2% 23.5%;
}

.section_product_details .order-form h3 {
    margin-bottom: 20px;
}

.section_product_details .order-form form {
    display: flex;
    flex-direction: column;
}

.section_product_details .order-form label {
    margin-bottom: 5px;
    position: relative;
    left: auto;
}

.section_product_details .order-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section_product_details .order-form button {
    padding: 10px;
    background-color: #002f4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.section_product_details .order-form button:hover {
    background-color: #f60;
}

/* details product style */

/* Blog style */

.section_blogs_company {
    margin: 5% 10%;
}

@media screen and (max-width: 770px) and (min-width: 230px) {
    .section_blogs_company {
        margin: 5% 0 !important;
    }
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content_parent_images {
    width: 100%;
    height: 300px;
}

.post-card .content_images_blogs {
    width: 100%;
    height: 100%;
}

.post-info {
    padding: 1rem;
}

.post-info .date,
.post-info .author {
    color: #666;
    font-size: 0.9rem;
}

.post-info h3 {
    margin: 0.5rem 0;
}

.post-info .read-more {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #002f4b;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1rem;
    font-size: 20px;
    transition: 0.7s;
}

.read-more:hover {
    background: #ff6600;
}

/* Blog style */

/* footer style start*/
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #002f4b;
    color: #fff;
}

.footer-section {
    flex: 1 1 200px;
    margin: 20px;
}

.footer-section h2 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ffa500;
}

.footer-section .logo {
    max-width: 150px;
    margin-bottom: 15px;
}

.footer-section p {
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ffa500;
}

.footer-section.subscribe form {
    display: flex;
    flex-direction: column;
}

.footer-section.subscribe input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #608dc3;
    transition: 0.8s;
}

.footer-section.subscribe input:focus {
    box-shadow: inset 0 1px 1px #002f4b, 0 0 8px #2c6db3 !important;
}

.footer-section.subscribe button {
    padding: 10px;
    background-color: #ffa500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s;
}

.footer-section.subscribe button:hover {
    background-color: #ff8c00;
}

@media (max-width: 768px) {
    .footer-section {
        flex: 1 1 100%;
    }
}

/* footer style  end*/

/* style go to top */
#scroll {
    position: fixed;
    z-index: 3000;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #002f4b;
    text-indent: -9999px;
    display: none;
    border-radius: 60px
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

#scroll:hover {
    background-color: #ff6600;
    opacity: 1;
    filter: "alpha(opacity=100)";
}

/* style go to top */

/* Notifications style */
.notification,
.notification_products {
    display: none;
    position: fixed;
    right: 10px;
    background-color: white;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
}

.notification {
    top: 15%;
    z-index: 3000;
}

.notification_products {
    top: 5%;
    z-index: 110000;
}

.content_notificatian {
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification span {
    font-weight: bold;
    color: #333;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #4caf50;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
    margin-left: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {

    .notification,
    .notification_products {
        left: 3%;
        width: 95%;
        top: 0;
    }
}

/* Notifications style */